<div>
  <h1 style="text-align: center;" class="primary-color">About Us</h1>
</div>
<hr>
<br /><br />
<div fxLayout="row wrap" fxLayoutGap="20px">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="assets/company-photo.jpg" width="80%">
      </div>
      <div>
        <em>
          <a class="attribution-link" href="https://www.pexels.com/photo/photo-of-coworkers-throwing-pieces-of-paper-7710118/"
            target="blank">Pexels</a>
        </em>
      </div>
    </div>
  </div>


  <div fxFlex>
    <p>
        Our company started from a group of college friends in 2013 that aimed to get out of the financial world of in order to
        help others navigate through financial literacy. Our founders Leta Lestrange, Phineas Black, and Andromeda Tonks are
        nicknamed the Slytherin House since they embrace their snake like roots of their Wall Street past to further guide
        individuals through the confusing world of finance. It started off as local meetings in restaurants Knockturn Alley and
        then as more and more people started to join their educational meetings, they knew they needed to make a change. They
        found that as much as they could educate their fellow peers on loans, it wouldn’t be enough of an impact, so they
        started Loan_App.
    </p>
    <p>
      Here at Loan_App, we want to throw paperwork out the window when it comes to understanding your loan payments! A lot of
      loans are surrounded by awkward terminology or extra fluff, we help users get straight to the point with direct numbers
      so they can get an idea of their loan payments. We aim to make loan calculations easy for everyone to understand, which
      is why we chose our straightforward name. We want our users to see the ease of financial literacy and make it available
      to everyone. Through our ambition and resourcefulness, we hope that everyone can learn the true cost of loans while
      protecting their money. We believe that no one should be blindsided by loan snakes so we’re here to help every step of
      the way.
    </p>
  </div>
</div>
